# pkp libs:

[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/pkp/pkp-lib.git

[submodule "lib/ui-library"]
	path = lib/ui-library
	url = https://github.com/pkp/ui-library.git

# pkp plugins:

[submodule "plugins/generic/customBlockManager"]
	path = plugins/generic/customBlockManager
	url = https://github.com/pkp/customBlockManager.git

[submodule "plugins/generic/staticPages"]
	path = plugins/generic/staticPages
	url = https://github.com/pkp/staticPages.git

[submodule "plugins/generic/tinymce"]
	path = plugins/generic/tinymce
	url = https://github.com/pkp/tinymce.git

[submodule "plugins/generic/pdfJsViewer"]
	path = plugins/generic/pdfJsViewer
	url = https://github.com/pkp/pdfJsViewer.git

[submodule "docs/manual"]
	path = docs/manual
	url = https://github.com/pkp/ojs-user-guide

[submodule "plugins/generic/googleAnalytics"]
	path = plugins/generic/googleAnalytics
	url = https://github.com/pkp/googleAnalytics.git

[submodule "plugins/generic/orcidProfile"]
	path = plugins/generic/orcidProfile
	url = https://github.com/pkp/orcidProfile.git

[submodule "plugins/blocks/makeSubmission"]
	path = plugins/blocks/makeSubmission
	url = https://github.com/pkp/makeSubmission.git

[submodule "plugins/reports/counter/classes/COUNTER"]
	path = plugins/reports/counter/classes/COUNTER
	url = https://github.com/pkp/COUNTER.git

[submodule "plugins/blocks/browse"]
	path = plugins/blocks/browse
	url = https://github.com/pkp/browse.git

[submodule "plugins/generic/googleScholar"]
	path = plugins/generic/googleScholar
	url = https://github.com/pkp/googleScholar

[submodule "plugins/generic/crossref"]
	path = plugins/generic/crossref
	url = https://github.com/pkp/crossref-ojs

[submodule "plugins/generic/webFeed"]
	path = plugins/generic/webFeed
	url = https://github.com/pkp/webFeed.git

[submodule "plugins/generic/acron"]
	path = plugins/generic/acron
	url = https://github.com/pkp/acron

# external plugins:

[submodule "plugins/importexport/dnb"]
	path = plugins/importexport/dnb
	url = https://github.com/ojsde/dnb.git
	branch = ojs-stable-3_4_0

# dai-plugins

[submodule "plugins/themes/publicationstheme"]
	path = plugins/themes/publicationstheme
	url = https://github.com/dainst/publicationstheme.git
	branch = update-to-3-4

[submodule "plugins/pubIds/publications-zenon-plugin"]
	path = plugins/pubIds/publications-zenon-plugin
	url = https://github.com/dainst/publications-zenon-plugin

[submodule "plugins/generic/cilantro"]
	path = plugins/generic/cilantro
	url = https://github.com/dainst/ojs-cilantro-plugin
	branch = ojs3
	
[submodule "plugins/pubIds/zenon"]
	path = plugins/pubIds/zenon
	url = https://github.com/dainst/publications-zenon-plugin.git
[submodule "plugins/blocks/browse-3.4"]
	path = plugins/blocks/browse-3.4
	url = https://github.com/pkp/browse.git
[submodule "plugins/generic/piwik"]
	path = plugins/generic/piwik
	url = https://github.com/pkp/piwik.git
[submodule "plugins/generic/ror"]
	path = plugins/generic/ror
	url = https://github.com/withanage/ror.git
[submodule "plugins/reports/reviewReport"]
	path = plugins/reports/reviewReport
	url = https://github.com/pkp/reviewReport.git
[submodule "plugins/generic/citationStyleLanguage"]
	path = plugins/generic/citationStyleLanguage
	url = https://github.com/pkp/citationStyleLanguage.git
[submodule "plugins/generic/citationManager"]
	path = plugins/generic/citationManager
	url = https://github.com/TIBHannover/citationManager.git
[submodule "plugins/generic/authorRequirements"]
	path = plugins/generic/authorRequirements
	url = https://github.com/pkp/authorRequirements.git
[submodule "plugins/generic/deleteIncompleteSubmissions"]
	path = plugins/generic/deleteIncompleteSubmissions
	url = https://github.com/lepidus/deleteIncompleteSubmissions.git
